@import '../Dashboard.css';

.predicted-rank-box {
  composes: dashboard-card from '../Dashboard.css';
}

.rank-value {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  color: #007bff;
}
